@charset "UTF-8";
@import url('https://fonts.google.com/specimen/Inter');

* {
    margin: 0px;
    padding: 0px;
    
}

:root {
    
    --cin: hsl(0, 0%, 20%);
    --bra: hsla(0, 0%, 100%, 0.856);
    --escc: hsl(0, 0%, 12%);
    --pre: hsl(0, 0%, 8%);
    --ver: hsl(75, 94%, 57%);

    --font: "Inter", sans-serif;
}

body {
    background-color: var(--pre);
    font-family: var(--font);
}

main {
    background-color: var(--escc);
    max-width: 80%;
    text-align: center;
    font-family: var(--font);
    margin: 5% auto;
    padding: 2% 3%;
    padding-bottom: 5%;
    border-radius: 3%;
}

h2,h3,p {
    padding: 2%;
}

h2 {
    color: var(--bra);
    font-size: 26px;
    font-weight: 400;
    margin-top: 5%;
}

h3 {
    font-size: 14px;
    margin-bottom: 4.5%;
}

p {
    color: var(--bra);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 3%;
}

img {
    border-radius: 50%;
    width: 40%;
}

h3 {
    color: var(--ver);
}

button {
    margin: 2% auto;
    padding: 5%;
    width: 90%;
    border: none;
    border-radius: 10px;
    background-color: var(--cin);
    color: var(--bra);
    font-weight: bolder;
}